<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<system.runtime.remoting>

		<application>

			<service>

				<activated type="RemoteObjects.RemoteObject, RemoteObject" />

			</service>

			<channels>

				<channel ref="tcp" port="5000" />

			</channels>

		</application>

	</system.runtime.remoting>
</configuration>